* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 5rem 0;
}

td {
	max-width: 8em;
	word-wrap: break-word;
}

@media (max-width: 768px) {
	.mobile-responsive {
		max-width: 100%;
	}

	thead {
		display: none;
	}

	tbody {
		display: flex;
		flex-direction: column;
		gap: 35px;
	}

	.table > :not(:first-child) {
		border-top: none;
	}

	td {
		display: flex;
		flex: 1;
		border-bottom: 2px solid #eee !important;
		max-width: 100%;
		word-wrap: normal;
	}

	td span {
		max-width: 11em;
		word-wrap: break-word;
	}

	td::before {
		flex: 2;
		font-weight: bold;
		content: attr(data-header);
	}
}
